:root {
    /* Primary colors */
    --blue3: #c4dfdf;
    --blue2: #d2e9e9;
    --blue1: #e3f4f4;
    --bone: #f8f6f4;
    --purple1: #dbdfea;
    --purple2: #acb1d6;
    --purple3: #8294c4;
    --purple15: #dee7ff;
    --gray: #8f8f8f;
  }
  .Login_company_container {
    background-image: url("../assets/bg.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color: #f5f5f5;
    padding: 0px;
  }
  .login_company_cardd{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Login_company_card_up{
    display: flex;
  }
  .Login_company_card {
    background-color: var(--purple1);
    border-radius: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0Login_user_1);
    padding: 2rem;
    width: 100%;
    max-width: 25rem;
    text-align: center;
  }
  
  .Login_company_header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  
  .Login_company_userText {
    font-size: 18px;
    font-weight:normal;
    color: var(--gray);
  }
  .Login_company_user_button {
    background-color: var(--purple1);
    color: var(--gray);
    border: none;
    border-top-left-radius: 30px;
    padding: 10px;
    font-size: 16px;
    font-weight: normal;
    width: 150px;
    opacity: 50%;
    margin-right: -15px;
    
  }
  .Login_company_companyText {
    font-size: 18px;
    color: #666;
  }
  .Login_company_company_button {
    background-color: var(--purple1);
    color: var(--gray);
    border: none;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    padding: 10px;
    font-size: 16px;
    font-weight: normal;
    width: 150px;

  }
  .Login_company_loginTitle {
    font-size: 40px;
    font-weight:bolder;
    margin-bottom: 10px;
    color: var(--purple3);
    margin-top: 0px;
  }
  .Login_company_lineTitle{
    color: var(--purple3);
    margin-top: 5px;
    font-weight:bold;
    width: 100%;
    margin-bottom: 50px;
  }
  .Login_company_form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .Login_company_inputGroup {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: left;
  }
  
  .Login_company_label {
    font-size: 14px;
    color: var(--gray);
  }
  
  .Login_company_input {
    background-color: var(--bone);
    padding: 12px 15px;
    border: 1px solid #ddd;
    border-radius: 12px;
    font-size: 16px;
    outline: none;
    transition: border 0.3s;
    opacity: 50% ;
  }
  
  .Login_company_input:hover {
    border: 1px solid #999;
  }
  
  .Login_company_input:focus {
    border: 1px solid #007bff;
  }
  
  .Login_company_button {
    background-color: var(--purple2);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 20px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 15px;
    transition: background-color 0.3s;
    width: 100%;
    
  }
  
  .Login_company_button:hover {
    background-color: var(--purple3);
  }
  
  
  